@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
    --header-bg-color: #3700B3;
    --header-font-color: #fff;
    --universal-box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.5);
    --aside-bg-color: #6300ee;
    --aside-font-color: #fff;
    --add-item-bg-color: #03dac5;
}

body {
    font-family: Roboto, system-ui, sans-serif;
    max-width: 2000px;
    min-width: 500px;
    margin: 0 auto;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  box-shadow: var(--universal-box-shadow);
  font-size: 2rem;
  font-weight: bold;
  padding: 25px;
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 75px;
  background-color: #fff;
  border-radius: 0.5rem;
}

* {
  outline: 1px solid red;
}